{% extends "cms_left_sidebar.html" %}
{% load menu_tags cms_tags placeholder_tags %}
{% load cms_helpers_tags %}

{% block article %}
    <article>
        {% page_attribute "page_title" as title %}
        <h1>{{ title }}</h1>
        {% include 'social_buttons.html' %}<br/>
        <div class="row show-grid features-block clear-both">
        {% for object in object_list %}
            <div class="span8">
                <blockquote class="blueb">
                    <p>{{ object.quote }}</p>
                    <small class="blueb-author"><strong>{{ object }}</strong>, {{ object.title|default:"" }} {% if object.org %}- {{ object.org }}{% endif %}</small>
                </blockquote>
                <br><br>
            </div>
{#            {% if forloop.counter|divisibleby:2 %}<div class="clear-both"><br>{% endif %}#}
        {% endfor %}
        </div>
    </article>
{% endblock %}